/cover.out
/build/coverage/**
!/build/coverage/.keepme
/build/artifacts/**
!/build/artifacts/.keepme
/cmd/hhdevid/hhdevid
/test/mock/mockexec/cmd_mock_interface.go
/test/mock/mockio/io_readwritecloser.go
/test/mock/mockio/mockfs/fs_fileinfo.go
/test/mock/mockio/mockfs/fs_direntry.go
/test/mock/mockpartitions/fs_mock.go
/test/mock/mockpartitions/mocklocation/api_mock.go
/test/mock/mockuefi/uefi_mock_efictx.go
/test/integration/integ-disk/integ-disk
