/dev/**
/cover.out
/build/coverage/**
!/build/coverage/.keepme
/build/artifacts/**
!/build/artifacts/.keepme
/pkg/seeder/artifacts/embedded/artifacts/**
!/pkg/seeder/artifacts/embedded/artifacts/.keepme
/cmd/hhdevid/hhdevid
/cmd/seeder/seeder
/test/mock/mockexec/cmd_mock_interface.go
/test/mock/mockio/io_readwritecloser.go
/test/mock/mockio/mockfs/fs_fileinfo.go
/test/mock/mockio/mockfs/fs_direntry.go
/test/mock/mocknet/net_conn.go
/test/mock/mockpartitions/fs_mock.go
/test/mock/mockpartitions/mocklocation/api_mock.go
/test/mock/mockuefi/uefi_mock_efictx.go
/test/integration/integ-disk/integ-disk
/test/integration/integ-netdev/integ-netdev
/test/integration/integ-ntp/integ-ntp
